fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
jinja2
aiofiles
itsdangerous
python-dotenv==1.0.0
requests
httpx
starlette
fastapi[all]
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
pydantic
neo4j==5.14.1
email-validator
azure-storage-blob==12.19.0
resemblyzer==0.1.4
librosa==0.10.1
numpy==1.26.2
